@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

* {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #3598DB !important;
}

.kontrakin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.judul {
    font-weight: 600;
    font-size: 24px;
    color: #3598DB;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.undraw {
    position: absolute;
    width: 320px;
    height: 169px;
    left: 928px;
    top: 166px;
}

.btn {
    position: absolute;
    width: 165px;
    height: 48px;
    left: 1005px;
    top: 385px;
    background: #3598DB !important;
    border-radius: 10px !important;
}

.form-control {
    border-radius: 10px !important;
}